@using RunGroopApp.Data.Enum;
@model Race

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-down">

        <div class="section-title text-center ">
            <h2>Create Race</h2>
            <p>Create Your Races Here</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-7 mt-5 mt-lg-0">
                <form method="post" asp-action="Create" enctype="multipart/form-data"  role="form" class="php-email-form">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                  
                    <div class="form-group">
                        <label asp-for="RaceCategory" class="d-block">Race Category</label>
                        <select asp-for="RaceCategory" class="form-control">
                            <option value="">-- Select --</option>
                            @foreach (var category in Enum.GetValues(typeof(RaceCategory)))
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                        <span asp-validation-for="RaceCategory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.Street" class="d-block">Street</label>
                        <input asp-for="Address.Street" class="form-control" placeholder="Street">
                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.City" class="d-block">City</label>
                        <input asp-for="Address.City" class="form-control" placeholder="City">
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.State" class="d-block">State</label>
                        <input asp-for="Address.State" class="form-control" placeholder="State">
                        <span asp-validation-for="Address.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image">Image</label>
                        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
                </form>
            </div>
        </div>

    </div>
</section>